section{
    padding: 1%;
    margin: 2%;
}

.form-container {
    margin: 0 auto;
    background-color: teal;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.form-container h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.form-group {
    margin: 10px 0;
    text-align: left; 
    color: rgba(218, 212, 212, 0.8);
}

label {
    font-weight: 600;
    color: rgba(218, 212, 212, 0.8);
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    box-sizing: border-box;
}



input:focus,
select:focus,
textarea:focus {
    border-color: teal;
    outline: none;
    background: rgb(203, 245, 245);
}



button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: teal;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
    transition: background-color 0.3s;
    box-sizing: border-box;
}

button:hover {
    background-color: rgb(203, 245, 245);
}

@media (max-width: 768px) {
    h2{
        font-size: 1.5rem;
    }
}
