header{
    padding: 2%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-image: url("../asserts/header bg.png"); */
    background: radial-gradient(circle, rgb(0, 153, 153), rgb(0, 128, 128), rgb(0, 102, 102)),
            linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    
    position:sticky;
    top: 0;
    z-index: 99;
    height: 15vh;
    margin: 0%;
}

h1 {
    font-size: 10vh;
    font-weight: bold; 
    padding: 0 10px; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    letter-spacing: 1px; 
    background: linear-gradient(to bottom right, rgb(0, 153, 153) 20%, rgb(0, 142, 142) 30%, rgb(0, 119, 119) 50%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

h2{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    letter-spacing: 1px; 
    background: linear-gradient(to bottom right, rgb(0, 153, 153) 20%, rgb(0, 142, 142) 30%, rgb(0, 119, 119) 50%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

header h1{
    background: linear-gradient(to bottom, 
    rgb(255, 255, 255) 0%, 
    rgb(255, 255, 255) 90%, 
    rgb(128, 128, 128) 95%, 
    #000000 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin: 2%;
    height: auto;
}
.pop{
    width: 100%; 
    background: radial-gradient(circle, rgb(0, 153, 153), rgb(0, 128, 128), rgb(0, 102, 102));
    /* position:absolute;
    bottom: 2%; */
    z-index: 1000;
}

.cards-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
    animation-name: moveit;
    animation-duration: 5s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-fill-mode: forwards; 
}
@keyframes moveit {
    0% { transform: translateX(0); }
    100% { transform: translateX(80%);}
}

.card{
    padding: 1%;
    margin: 1%;
    color: white;
    font-weight: bold;
}

.c{
    background-color: rgb(0,0,0,0.8);
    color: white;
}


.home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.left a {
    color: teal; 
    text-decoration: none; 
    font-weight: bold; 
    transition: background-color 0.3s, color 0.3s; 
}

.left a:hover {
    color: #007BFF; 
}


.right {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
    }

    .left, .right{
        width: 100%;
        padding: 10px;
    }
    .right .gallery-item{
        display: none;
    } 
    
}


@media (max-width: 450px) {
    h1{
        font-size: 8vh
    }
}

@media (max-width: 360px) {
    h1{
        font-size: 6vh
    }
}

.gallery-item{
    padding: 0px 0px 20px 0px;
    margin-top: 20px;
}

.gallery-item:hover {
    transform: scale(1.01);
}